DISCORD_BOT_TOKEN = "..."
DISCORD_GUILD_ID = 1234567890
VIP_ROLE_ID = 1234567890
VIP_CHANNEL_ID = 1234567890
CHAT_CHANNEL_ID = 1234567890

RABBITMQ_URL = "..."

API_ENDPOINT_URL = "https://api.mtgmods.com/v1/license/check/info"
BOT_SECRET_TOKEN="super_secret_temporary_key_change_me_in_prod"