TELEGRAM_BOT_TOKEN = "..."
TELEGRAM_VIP_CHAT_ID = 1234567890
TELEGRAM_CHAT_ID = 1234567890

RABBITMQ_URL = "..."

BACKEND_API_URL = "https://api.mtgmods.com/v1/license"
BOT_SECRET_TOKEN="super_secret_temporary_key_change_me_in_prod"