# --- Local dev ---
# DEBUG_MODE=True
# RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/
# DOWNLOAD_BASE_URL=http://127.0.0.1:8005/api/v1/files/downloads/vip

# --- Docker Compose ---
DEBUG_MODE=False
RABBITMQ_URL=amqp://mtg_rabbit:change_me_rabbit@rabbitmq:5672/
DOWNLOAD_BASE_URL=http://localhost:8005/api/v1/files/downloads/vip

APP_VERSION=1.0
API_VERSION=v1