DATABASE_URL=sqlite+aiosqlite:///./license.db
DATABASE_POSTGRES_URL="..."
RABBITMQ_URL = "..."
JWT_SECRET="super_secret_temporary_key_change_me_in_prod"
BOT_SECRET_TOKEN="super_secret_temporary_key_change_me_in_prod"
USER_SERVICE_URL="http://127.0.0.1:8001"
INTERNAL_SECRET_TOKEN = "super_secret_temporary_key_change_me_in_prod"
APP_VERSION=1.0
API_VERSION=v1
DEBUG_MODE=True